<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Codesters - Health Statistics</title>
</head>
<body>

<div id="chartContainer" style="height: 270px; width: 100%;"></div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    function renderChart(health_data) {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2",
            title: {
                text: "Your health stats"
            },
            data: [{
                type: "line",
                indexLabelFontSize: 16,
                dataPoints: health_data
            }]
        });
        chart.render();
    }

    fetch('https://oqyshi.kz/health/1')
        .then(response => response.json())
        .then(data => renderChart(data.health_data));
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


</script>
</body>
</html>


