<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codesters - Whiteboard</title>
</head>
<body>
    <div class="whiteboard" style="width: 600px; height: 600px;" id="wt-container"></div>
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
        clientId: '30e7f00c07eefd92e8a95db56bc41fcf',
        boardCode: '188ed486fa5cf53a90ecd92424c88165'
    });
</script>
</body>
</html>