<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Hack - Codesters</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'include/header.html' %}
<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 avatar-div">
        <img src="{% static 'images/avatar.jpg' %}" alt="" class="avatar">
      </div>
      <div class="col-lg-7 white-text info">
        <h5 class="name">Resul Selmani</h5>
        <h6 class="title">Front - End Developer</h6>
      </div>
      <div class="col-lg-2 settings-div center no-padding-margin">
        <img src="{% static 'images/settings.png' %}" alt="" class="settings">
      </div>
    </div>
    <hr class="white-line">

    <img src="{% static 'images/start-hack-logo.png' %}" alt="" class="logo-center start">
    <img src="{% static 'images/accenture-white.png' %}" alt="" class="logo-center">

    <hr class="white-line">
    <div id="MyClockDisplay" class="clock digital-clock" onload="showTime()"></div>

    <button id="gamingroom" class="btn center btn-dash">Game Room</button>
    <button id="gamingroom" class="btn center btn-dash">Chilling Room</button>
    <button id='recipy' class="btn center btn-dash">Recipes</button>
    <button id='healthy' class="btn center btn-dash">Health Statistics</button>
    <button id='whiteboard' class="btn center btn-dash">Whiteboard</button>

  </div>

</div>
{% block content %}
{% endblock %}

{% include 'include/footer.html' %}

<script>
    var whiteboard = document.getElementById('whiteboard')
    whiteboard.addEventListener("click", function () {
        window.open("{% url 'office:whiteboard' %}", 'popUpWindow', 'height=600,width=600,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');
    })

    var recipy = document.getElementById('recipy')
    recipy.addEventListener("click", function () {
        window.open("{% url 'office:recipy' %}", 'popUpWindow', 'height=600,width=600,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');
    })

    var healthy = document.getElementById('healthy')
    recipy.addEventListener("click", function () {
        window.open("{% url 'office:healthy' %}", 'popUpWindow', 'height=600,width=600,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');
    })
</script>
</body>
</html>