<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'images/start-hack-logo.png' %}">
  <title>Start Hack - Codesters</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 avatar-div">
        <img src="{% static 'images/avatar.jpg' %}" alt="" class="avatar">
      </div>
      <div class="col-lg-7 white-text info">
        <h5 class="name">Resul Selmani</h5>
        <h6 class="title">Front - End Developer</h6>
      </div>
      <div class="col-lg-2 settings-div center no-padding-margin">
        <img src="{% static 'images/settings.png' %}" alt="" class="settings">
      </div>
    </div>
    <hr class="white-line">

    <img src="{% static 'images/start-hack-logo.png' %}" alt="" class="logo-center start">
    <img src="{% static 'images/accenture-white.png' %}" alt="" class="logo-center">

    <hr class="white-line">
    <div id="MyClockDisplay" class="clock digital-clock" onload="showTime()"></div>

    <button id="gamingroom" class="btn center btn-dash">Game Room</button>
    <button id="gamingroom" class="btn center btn-dash">Chilling Room</button>
    <button id='recipy' class="btn center btn-dash">Recipes</button>
    <button id='healthy' class="btn center btn-dash">Health Statistics</button>
    <button id='whiteboard' class="btn center btn-dash">Whiteboard</button>

  </div>

</div>
<div class="main-board">
  <div class="notification">
    <img src="{% static 'images/mail.png' %}" class="mail" alt=""> 1 new notification. Jakob just sent a picture of his
    food :D
  </div>
  <div class="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card" id="tasksMeeting" style="width: 18rem;">
            <img src="{% static 'images/left-office.png' %}" class="card-img-top img-top" alt="...">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-9 text">
                  <h5 class="card-text">Tasks Meetings</h5>
                </div>
                <div class="col-lg-3">
                  <p class="online">12 <span class="dot dot-online"></span></p>
                  <p class="online"> &nbsp 7 <span class="dot dot-offline"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" id="boardMeeting" style="width: 18rem;">
            <img src="{% static 'images/middle-office.png' %}" class="card-img-top img-top" alt="...">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-9 text">
                  <h5 class="card-text">Board Meetings</h5>
                </div>
                <div class="col-lg-3">
                  <p class="online">12 <span class="dot dot-online"></span></p>
                  <p class="online">&nbsp 7 <span class="dot dot-offline"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" id="calendar" q style="width: 18rem;">
            <img src="{% static 'images/right-office.png' %}" class="card-img-top img-top" alt="...">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-9 text">
                  <h5 class="card-text">Calendar</h5>
                </div>
                <div class="col-lg-3">
                  <p class="online">12 <span class="dot dot-online"></span></p>
                  <p class="online"> &nbsp 7 <span class="dot dot-offline"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="food-container container">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button btn btn-food" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="show">
              Cantina
            </button>
          </h2>
          <div id="collapseExample"
               class="accordion-collapse collapse food-background collapsed-food-menu"
               aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 food-col">
                    <button class="btn btn-chat">
                      Food Distribution
                    </button>
                  </div>
                  <div class="col-lg-5">
                    <button class="btn btn-tables">Table #1</button>
                    <button class="btn btn-tables">Table #2</button>
                    <button class="btn btn-tables">Table #3</button>
                    <button class="btn btn-tables">Table #4</button>
                    <button class="btn btn-tables">Table #5</button>
                    <button class="btn btn-tables">Table #6</button>
                  </div>
                  <div class="col-lg-3 food-col">
                    <button class="btn btn-chat">Dishes</button>
                  </div>
                  <div class="row">
                    <button class="hide" id="hide">Close Cantina</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <span id="quote" class="quote">“If you can dream it, you can do it.” – Walt Disney.</span>
    <img src="{% static 'images/accenture-black.png' %}" class="footer-logo" alt="">
  </div>
  <!-- <div id="chartContainer" style="height: 270px; width: 80%; margin: 5% 10%;"></div> -->
</div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
    var whiteboard = document.getElementById('whiteboard')
    whiteboard.addEventListener("click", function () {
        window.open("{% url 'office:whiteboard' %}", 'popUpWindow', 'height=600,width=600,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');
    })

    var recipy = document.getElementById('recipy')
    recipy.addEventListener("click", function () {
        window.open("{% url 'office:recipy' %}", 'popUpWindow', 'height=600,width=600,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');
    })

    var healthy = document.getElementById('healthy')
    healthy.addEventListener("click", function () {
        window.open("{% url 'office:healthy' %}", 'popUpWindow', 'height=600,width=600,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
<script src='https://meet.jit.si/external_api.js'></script>
</body>
</html>